/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quattrocento", sans-serif;
    
}

body {
    background-color: #d9bcbc;

}

/*CONTAINER*/
.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
}

/*HEADER*/
header {
    background: #eee;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.7s ease;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 17px;
    
}

.logo img {
    height: 30px;
    width: 160px;
}

/*MENU*/
nav ul {
    display: flex;
    list-style: none;
    gap: 125px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: transform 0.3s ease, background 0.3s ease;
}

nav li:hover {
    transform: scale(1.1);
    background: #9e2b2b17;
    border-radius: 5px;
}

.titulo {
    text-align: center;
    padding: 10px 20px; /* antes era 20px */
    background-color: #d9bcbc;
    font-size: 18px;
}

.contato-container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    line-height: 1.8;
}

.contato-container p {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 20px;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    max-width: 100%;
}

/* Campos formulario */
textarea {
  height: 120px;
  resize: none;
}

input, textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 0.5px solid #3f3f3f;
  border-radius: 10px;
  outline: none;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
}


input,
textarea {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

textarea {
    min-height: 180px;
    resize: vertical;
}

button {
    width: 160px;
    margin: 20px auto 0;
    padding: 14px;
    border: none;
    background: #1e73be;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}


/* BOTÃO */
button {
  width: 100px;
  padding: 10px;
  background-color: #1e73be;
  color: #fff;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

button:hover {
  background-color: #155a94;
}

.btn-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 100px; /* <-- aqui é o segredo */
    width: 55px;
    height: 55px;
    background: #25D366;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    text-decoration: none;
    z-index: 9999;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: 0.3s;
    animation: pulse 2s infinite;

}

.btn-whatsapp:hover {
    transform: scale(1.1);
    background: #1ebe5d;
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Fundo escuro atrás do pop-up */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog h2 {
  color: #2e7d32;
  margin-top: 0;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(37,211,102, 0.7); }
    70% { box-shadow: 0 0 0 15px rgba(37,211,102, 0); }
    100% { box-shadow: 0 0 0 0 rgba(37,211,102, 0); }
}

/*       RESPONSIVO      */
/* TABLETS */
@media (max-width: 900px) {

    .header-content {
        justify-content: center;
        gap: 20px;
    }

    nav ul {
        gap: 25px;
    }

    .contato {
        padding: 30px 20px;
    }

    form {
        max-width: 500px;
    }

    .btn-whatsapp {
        right: 85px;
        width: 50px;
        height: 50px;
        font-size: 22px;
    }
}

/* CELULARES */
@media (max-width: 600px) {

    .container {
        width: 95%;
        padding: 0 10px;
    }

    .header-content {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-top: 10px;
    }

    .titulo {
        padding: 15px 10px;
    }

    .titulo h2 {
        font-size: 1.3rem;
    }

    .contato {
        padding: 20px 10px;
    }

    form {
        width: 100%;
        max-width: 100%;
    }

    input,
    textarea {
        width: 100%;
    }

    button {
        width: 100%;
        align-self: stretch;
    }

    .btn-whatsapp {
        right: 20px;
        bottom: 20px;
        width: 50px;
        height: 50px;
        font-size: 22px;
    }
}